<div class="modal fade" id="{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-primary text-white">
            <div class="modal-header ">
                <h5 class="modal-title text-title" id="exampleModalLabel">Aggiungi membro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" name="add_member">
                {% csrf_token %}
                <div class="modal-body">
                    <label for="id_email" class="form-label">Email</label>
                    <input type="email" class="form-control" name='email' id="id_email" aria-describedby="emailHelp">
                </div>
                <div class="modal-footer">

                   
                    <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal">
                        <span class="material-icons me-0 icon-flex icon-18 text-white">close</span></button>
                    <button type="submit" class="btn btn-secondary text-white" name="add_member">
                        <span class="material-icons icon-flex me-0 icon-18 text-white">person_add</span>
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>